.navbar {
  background: #fafafa;
  border-radius: 2rem 2rem 0 0;

  height: 8rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;

  position: absolute;
  transform: translateY(100%);
  bottom: 0;
}

/* home css settings*/
.home-nav a {
}
.home-nav {
  width: 25%;
  padding-left: 1rem;
}
.home-nav i {
  font-size: 3rem;
}
.home-nav button {
  height: 100%;
  border: none;
  background: none;

  padding-top: 0.5rem;

  font-size: 1.6rem;
}

/* repos css settings*/
.repos-nav {
  width: 25%;
}
.repos-nav button {
  height: 100%;
  border: none;
  background: none;

  font-size: 1.6rem;
}
.repos-nav i {
  font-size: 3rem;
}

/* followers css settings*/

.followers-nav a {
  width: 25%;
}
.followers-nav button {
  height: 100%;
  margin-right: 2rem;
  border: none;
  background: none;

  font-size: 1.6rem;
}
.followers-nav i {
  font-size: 3rem;
}

/* following css settings*/
.following-nav {
  padding-right: 1rem;
}
.following-nav a {
  width: 25%;
}
.following-nav button {
  height: 100%;
  border: none;
  background: none;

  font-size: 1.6rem;
}
.following-nav i {
  font-size: 3rem;
}
